# Django
DEBUG=on
SECRET_KEY=f%0@i4h7gx7f252eipj+x(p1gs1s)8t@f$@aid#48$w3m=emaz
ALLOWED_HOSTS=*
STATIC_ROOT=/tmp/radar/static/
DATABASE_URL=sqlite:///db.sqlite3

# DNSLog设置
DOMAIN=dns.xxxx.com
NS_SERVER=10.10.10.10